.quotebox{
    max-width: 400px;
    display: grid;
    gap: 30px;
    justify-items: center;
}

.quotebox__title{
    font-size: 26px;
    z-index: 3;
}

.quotebox__phrase{
    background-color: rgba(0, 150, 251, .6);
    padding: 25px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    z-index: 3;
}

.quotebox__author{
    position: absolute;
    bottom: 15px;
    right: 50%;
    transform: translate(50%);
    font-size: 20px;
    font-weight: 700;
    z-index: 3;
}

.quotebox__btn{
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 150, 251, .6);
    color: white;
    font-weight: 700;
    font-size: 14px;
    font-weight: 700;
    font-family: 'DS-Digital', sans-serif;
    z-index: 3;
    cursor: pointer;
}

.quotebox__by{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: 10px;
    z-index: 3;
}

/* Desktops */
@media (min-width: 1024px) {
    .quotebox{
        max-width: 600px;
        display: grid;
        gap: 50px;
    }

    .quotebox__title{
        font-size: 30px;
    }
  
    .quotebox__phrase{
        font-size: 24px;
    }

    .quotebox__author{
        font-size: 24px;
    }

    .quotebox__btn{
        font-size: 18px;
    }

    .quotebox__by{
        font-size: 14px;
    }
  }