.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 20px;
    color: white;
    background-size: cover;
    font-family: 'DS-Digital', sans-serif;
}

/*background image*/
.bg1{
    background-image: url(/image/universe1.webp);

}

.bg2{
    background-image: url(/image/universe2.webp);
}

.bg3{
    background-image: url(/image/universe3.webp);
}

.bg4{
    background-image: url(/image/universe4.webp);
}

img{
    position: absolute;
    bottom: 0px;
    height: 200px;
}